.partner_margin{
    margin-top: 25px;
}

.brand h1, .navbar-brand h1{
    margin: 0;
}

header.large .brand{
    margin: 18px 0 0 0;
}

/*About strat*/
#aboutus {
    margin-top: 90px;
    padding-bottom: 25px;
}

#aboutus .title h2{
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 25px 0;
    padding: 0;
}

#aboutus .topic_description {
    font-size: 24px;
    line-height: 1.7;
}

#aboutus .topic {
    font-size: 18px;
    font-weight: 900;
    color: #c61334;
    margin-top: 10px;
}

#aboutus .carousel-indicators {
    position: absolute;
    bottom: auto;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin-top: 25px;
}
#aboutus .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ccc;
}
#aboutus .carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #716d6e;
}
/*About End*/

.footer_links{
    margin: 0 auto;
}



/* Registration
--------------------------------------------*/
#registration {
    margin-top: 90px;
}
#registration h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 65px;
}
#registration .contact-info {
    font-size: 18px;
    margin-bottom: 35px;
    line-height: 1.7;
}
#registration .contact-info .address {
    font-weight: 900;
}
#registration .contact-info .highlight {
    color: #c61334;
}
#contact form .form-group {
    margin-bottom: 20px;
}
#registration form .text-field {
    background-color: #dbdbdb;
    height: 45px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 18px;
}
#registration form textarea {
    background-color: #dbdbdb;
    height: 196px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 18px;
}
#registration form ::-webkit-input-placeholder {
    font-size: 18px !important;
    font-weight: bold;
}
#registration form :-moz-placeholder {
    font-size: 18px !important;
    font-weight: bold;
}
#registration form ::-moz-placeholder {
    font-size: 18px !important;
    font-weight: bold;
}
#registration form :-ms-input-placeholder {
    font-size: 18px !important;
    font-weight: bold;
}
#registration form .first-name {
    float: left;
    width: 49%;
}
#registration form .last-name {
    float: right;
    width: 49%;
}
#registration form .btn-border {
    border: 1px solid #ffd992;
    padding: 1px;
    margin: 0 20px 0 0;
    display: inline-block;
}
#registration form .submit-message {
    font-size: 24px;
    font-weight: 900;
    background-color: #fb8197;
    color: #fff;
    border: none;
    line-height: 47px;
    padding: 0 15px;
    box-shadow: 6px 6px 0 #efe9e9;
    text-transform: uppercase;
    transition: .2s;
    border-radius: 0;
}
#registration form .submit-message:hover {
    background-color: #716d6e;
}
#registration .contact-box-title {
    font-size: 18px;
    font-weight: bold;
}
#registration .contact-box {
    background-color: #ededed;
    padding: 20px;
}
#registration .contact-box .highlight {
    font-weight: bold;
    color: #c61334;
}
#registration .contact-box img {
    border: 1px solid #c61334;
    float: left;
    margin-right: 20px;
}
#registration .contact-box-name {
    font-size: 24px;
    font-weight: bold;
}
#registration .contact-box-border {
    background-color: #c61334;
    height: 10px;
    margin-top: 1px;
    margin-bottom: 8px;
}
#registration .contact-box-divider {
    height: 10px;
}